<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="smail" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<h2 class="text-center">Welcome to Smail</h2>
	</div>
	<div class="row-fluid">
		<div class="col-sm-6 col-md-6">
			<div class="col-sm-4 col-md-4 feature-img"><img src="modules/core//img/welcome/experience.png" class="img-responsive img-circle"/></div>
			<div class="col-sm-8 col-md-8">
				<h4>Experience Smail on any device</h4>
				<p>The best of Smail is available wherever you are, from any device.</p><a href="#"> More about Smail for mobile.</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="col-sm-4 col-md-4 feature-img"><img src="modules/core//img/welcome/storage.png" class="img-responsive img-circle"/></div>
			<div class="col-sm-8 col-md-8">
				<h4>Lots of free storage</h4>
				<p>With 15GB of free storage across Smail, Photos, you won't need to delete emails to save space.</p><a href="#"> More about Storage.</a>
			</div>
		</div>
	</div>
	<div style="margin: 20px 0;" class="clearfix">
		<div class="row-fluid">
			<div class="col-sm-6 col-md-6">
				<div class="col-sm-4 col-md-4 feature-img"><img src="modules/core//img/welcome/inbox.png" class="img-responsive img-circle"/></div>
				<div class="col-sm-8 col-md-8">
					<h4>Meet the new inbox</h4>
					<p>New customizable tabs put you back in control so that you can see what's new at a glance and decide which emails you want to read and when.</p><a href="#"> More about the new inbox</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="col-sm-4 col-md-4 feature-img"><img src="modules/core//img/welcome/help.png" class="img-responsive img-circle"/></div>
				<div class="col-sm-8 col-md-8">
					<h4>Need help?</h4>
					<p>Have a question about Smail? Visit the </p><a href="#"> help center</a>
					<p>  for FAQs and suggestions.</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
